.slick-slider {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slick-slide {
  width: 100vw;
  height: 100vh;
}

.slick-slide > .bg {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20xp);
  -moz-filter: blur(20xp);
  -o-filter: blur(20xp);
  -ms-filter: blur(20xp);
  filter: blur(20px);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.slick-slide > .fg {
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}